main {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .guess {
            background-color: transparent;
            border: 3px solid #fff;
            margin: 20px;
            padding: 2.5rem;
            font-size: 5rem;
            color: #fff;
            text-align: center;
            font-family: 'Press Start 2p', sans-serif;
            display: block;
            width: 25rem;

            &:focus {
                outline: none;
            }
        }
    }

    .right{
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 20px;

        .label-score {
            margin-top: 65px;
            margin-bottom: 20px;
        }
    }

}